<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Философский клуб Европы</title>

    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/moment")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@Scripts.Render("~/bundles/datetimepicker")*@
    @*@Styles.Render("~/Content/themes/base/css")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" /> 
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap-date.css"type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker-build.less"type="text/css" />


    @*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            initialize();
        });
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(6.9167, 79.8473),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),
              mapOptions);
            // create a marker
            var latlng = new google.maps.LatLng(6.9167, 79.8473);
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: 'My Place'
            });
        }
    </script>  *@
    @RenderSection("head", required: false)
</head>
<body>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
    <div class="jumbotron">
        <h2>Клуб Философов Синтеза Европы</h2>
        <p class="lead">Все и всегда, начинается с идеи, фантазии и мечты. Новое - приходит новыми путями. Клуб Философов Синтеза предлагает всем заинтересованным в самосовершенствовании, реализации творческого потенциала и просто неравнодушных к будущему человечества людей, ознакомится с Философией Синтеза и раздвинуть границы возможного этим. </p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
    </div>
    @* Carusel *@
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">

                <img src="~/Images/einstein.jpg">
                <div class="carousel-caption">
                    <h3> Ты никогда не решишь проблему, если будешь думать так же, как те, кто ее создал.</h3>
                </div>
            </div>
            <div class="item">

                <img src="~/Images/einstein.jpg">
                <div class="carousel-caption">
                    <h3> Разум, однажды расширивший свои границы, никогда не вернется в прежние.</h3>
                </div>
            </div>
            <div class="item">

                <img src="~/Images/Gagarin.png" />
                <div class="carousel-caption">
                    <h3> Жизнь показывает, что и космос будут осваивать не какие-нибудь супермены, а самые простые люди.</h3>
                </div>
            </div>
            <div class="item">

                <img src="~/Images/Ciolkovsky.jpg" />
                <div class="carousel-caption">
                    <h3> Новые идеи надо поддерживать. Немногие имеют такую смелость, но это очень драгоценное свойство людей.</h3>
                </div>
            </div>
        </div>

    </div>


    <div class="container body-content">
        <div class="row">
            <div class="col-lg-2">
                <h2>Тут будет календарь</h2>
                <p></p>
            </div>

            <div class="col-lg-8">

                @RenderBody()

                <script src="~/Scripts/jquery-2.0.3.min.js"></script>
                <script src="~/Scripts/bootstrap.min.js"></script>

            </div>
            <div class="col-lg-2">
                <h2>Место для чего то</h2>
                <p></p>
                @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
            </div>
        </div>
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year -  Bugrov Maksim</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
