@model PhClub.Models.Media

@{
    ViewBag.Title = "Create";
}

@Scripts.Render("~/ckeditor/ckeditor.js")
@Scripts.Render("~/ckeditor/adapters/jquery.js")
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>

<h2>Добавление новости</h2>

@using (Html.BeginForm("Create", "Medias", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(model => model.title, "Название", new { @class = "control-label col-md-2" })          
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.description, "Краткое описание",new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.body,  "Статья",new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.body, new { @class = "ckeditor", placeholder = "Content" }) 
                @Html.ValidationMessageFor(model => model.body)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Source, "Ссылка на источник новости", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Source)
                @Html.ValidationMessageFor(model => model.Source)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, "Загрузить фото", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                <input id="ImagePath" title="Upload a product image"
                       type="file" name="file" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VideoLink, "Ссылка на Youtube видео(embed)", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VideoLink)
                @Html.ValidationMessageFor(model => model.VideoLink)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.tags, "Категория новости", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TagsEnum)
                @Html.ValidationMessageFor(model => model.tags)
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Создать" class="btn btn-default" />
                </div>
            </div>
        </div>
}



<div>
    @Html.ActionLink("Назад к списку новостей", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


