@model IEnumerable<PhClub.Models.Media>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Добавить новость", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название статьи
        </th>
        @*<th>
            Краткое описание статьи
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.body)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
            <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.description)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.body)
        </td>*@
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Просмотр", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удаление", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
